div{
	background-color: silver;
	margin-bottom: 70px;
	margin-top: 70px; 
	margin-right: 300px;
	margin-left: 300px;
	padding-left: 50px; 
	text-align: center;
}


h2{color: blue;
 font-size: 60px; font-family: Bradley Hand, cursive; }

 h1{color: green; 
 font-size: 25; font-family:Brush Script MT, Brush Script Std,
  cursive; letter-spacing: 8px }

 p{color: black;
 	font-size: 30px;
 	background-color: silver;}

 	ul{background-color: silver;
 		color:black;
 		font-size: 30px;}
 
a{
	font-family: Brush Script MT, Brush Script Std ;
	text-decoration: none;
	color: red; 
	font-size: 30px;
	font-weight: 800;
}

.card-white{
	background-color: silver;
	text-align: center;
	border-radius: 25px;
	}

@media (max-width: 600px) {
	.container {
		width: 300px;
	}

	img {
	width: 100px
	}
}

@media (max-width: 300px) {
	.container {
		width: 100px;
	}


body{
	background-image:url(images/automobile-black-and-white-business-248539.jpg);
	background-size: cover;
	background-color: cadetblue; }